# Obsidian 配置和插件
.obsidian/plugins/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/community-plugins.json
.obsidian/types.json
.obsidian/graph.json
.obsidian/canvas.json

# 临时文件
.trash/
**/.DS_Store
**/Thumbs.db

# 日志文件
*.log

# 缓存
.cache/
